{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

<div id="mobile-menu" class="mobile-menu" aria-hidden="true">
  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu" role="list">
          {%- for link in menu.links -%}
            <li load="lazy" class="lazyload mobile-menu__nav-item">
              {%- if link.links != blank -%}
                {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}

                <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
                  {{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                </button>
              {%- else -%}
                <a href="{{ link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ link.title }}</a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if section.settings.navigation_phone_number != blank or section.settings.navigation_email != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.need_help' | t }}</p>

          {%- if section.settings.navigation_phone_number != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-phone' -%}
              <span>{{ section.settings.navigation_phone_number | escape }}</span>
            </div>
          {%- endif -%}

          {%- if section.settings.navigation_email != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-email' -%}
              <a href="mailto:{{ section.settings.navigation_email }}">{{ section.settings.navigation_email | escape }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      
      <style type="text/css">
      .st0 {
          fill: #00ADEF;
      }
      .st1 {
          fill: #F0297C;
      }
      .st3 {
          fill: #1E2D7D;
      }
      </style>
      <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">Devoluciones</p>
          <a href="https://canvaslab.com/pages/politica-de-envios-y-devoluciones" style="position: relative !important; display: inline-block !important; width: 100% !important;" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="devoluciones_icon--m" x="0px" y="0px" viewBox="0 0 511 511" xml:space="preserve" style="width: 30px !important; margin-top: 12px; ">
                  <g>
                      <path class="st0" d="M106.1,329l-26.8-12.9c-2.8-1.3-5.9-1.5-8.9-0.5c-2.9,1-5.3,3.1-6.6,5.9c-1.3,2.8-1.5,5.9-0.5,8.9   c1,2.9,3.1,5.3,5.9,6.6L96,349.9c1.6,0.8,3.3,1.2,5,1.2c4.4,0,8.5-2.6,10.4-6.6C114.2,338.8,111.8,331.8,106.1,329z" />
                      <path class="st1" d="M135.8,305.4c-1-2.9-3.1-5.3-5.9-6.6L78.5,274c-5.8-2.8-12.7-0.4-15.5,5.4c-2.8,5.8-0.4,12.7,5.4,15.5   l51.4,24.8c1.6,0.8,3.3,1.2,5,1.2c4.4,0,8.5-2.6,10.4-6.6C136.6,311.5,136.8,308.3,135.8,305.4z" />
                      <path class="st0" d="M423,320.5h-28c1-1.5,1.5-3.3,1.5-5.1c0-2.5-1-4.9-2.8-6.6c-3.7-3.7-9.6-3.7-13.3,0l-14.6,14.6   c-3.7,3.7-3.7,9.6,0,13.3l14.6,14.5c1.8,1.8,4.1,2.7,6.6,2.7c2.4,0,4.8-1,6.7-2.7c1.8-1.8,2.8-4.1,2.8-6.6c0-1.8-0.5-3.6-1.5-5.1   h28c6.8,0,12.4,5.6,12.4,12.4s-5.6,12.4-12.4,12.4h-21.2c-5.2,0-9.4,4.2-9.4,9.4s4.2,9.4,9.4,9.4H423c17.2,0,31.2-14,31.2-31.2   C454.2,334.5,440.2,320.5,423,320.5z" />
                      <path class="st3" d="M419.9,261V138.3c0-4.4-2.6-8.5-6.6-10.4L230.8,39.8c-3.2-1.5-6.9-1.5-10.1,0L38.2,127.9   c-4,1.9-6.6,6-6.6,10.4v214c0,4.4,2.6,8.5,6.6,10.4l182.5,88.1c1.6,0.8,3.3,1.2,5,1.2c1.7,0,3.5-0.4,5-1.2l109.4-52.8   c15.6,19.9,39.9,32.6,67.1,32.6c47,0,85.3-38.3,85.3-85.3C492.6,302.6,461,267.1,419.9,261z M225.8,63.1l155.8,75.2l-35.7,17.2   L190.1,80.3L225.8,63.1z M163.6,93.3l155.6,75.1l-21.4,10.3l-155.6-75.1L163.6,93.3z M330.6,188.7v49l-20.9,10.1v-49L330.6,188.7z    M328.5,378l-91.1,44V233.7l37.5-18.1c2.8-1.3,4.9-3.7,5.9-6.6c1-2.9,0.8-6.1-0.5-8.9c-1.3-2.8-3.7-4.9-6.6-5.9   c-2.9-1-6.1-0.8-8.9,0.5l-39,18.8l-13.8-6.7c-2.8-1.4-5.9-1.5-8.9-0.5c-2.9,1-5.3,3.1-6.6,5.9c-1.3,2.8-1.5,5.9-0.5,8.9   c1,2.9,3.1,5.3,5.9,6.6l12.3,6V422L54.8,345.1V156.8l121.8,58.8c1.6,0.8,3.3,1.2,5,1.2c4.4,0,8.5-2.6,10.4-6.6   c2.8-5.8,0.4-12.7-5.4-15.5L69.9,138.3l45.4-21.9l171.3,82.7v67.1c0,4,2,7.7,5.4,9.8c1.8,1.2,4,1.8,6.2,1.8c1.7,0,3.5-0.4,5-1.2   l44.1-21.3c4-1.9,6.6-6,6.6-10.4v-67.5l42.9-20.7v103.9c-42.1,5.2-74.7,41.2-74.7,84.7C322,356.9,324.3,367.9,328.5,378z    M407.3,408.5c-18.3,0-34.8-7.9-46.4-20.4l0.3-0.2c-6.5-4.7-10.5-11.7-12.7-19.6c-2.8-7.1-4.3-14.8-4.3-22.9   c0-31.2,22.7-57.1,52.5-62.2v0.3c7.4-1.6,15.6-1.8,23.2,0v0c28.8,5.8,50.5,31.3,50.5,61.8C470.4,380.2,442.1,408.5,407.3,408.5z" />
                  </g>
              </svg>
              <span style="text-align:left; float: right; margin: 12px 20px 0 0;" id="returns"> Cambios y devoluciones GRATIS</span>
              <span style="text-align:left; float: right; margin: 12px 20px 0 0;" id="shipping"> Envío GRATIS</span>
          </a>
      </div>

      {%- capture social_media -%}{% render 'social-media', show_social_media_name: true %}{%- endcapture -%}

      {%- if section.settings.show_navigation_social_media and social_media != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.follow_us' | t }}</p>

          {{- social_media -}}
        </div>
      {%- endif -%}
    </div>

    {%- comment -%}We now need to loop again (for the second level) to create the nested panel{%- endcomment -%}

    {%- for link in menu.links -%}
      {%- if link.links != blank -%}
        {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}

        <div id="{{ panel_id }}" class="mobile-menu__panel is-nested">
          <div class="mobile-menu__section is-sticky">
            <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-left' %} {{ 'header.navigation.back' | t }}</button>
          </div>

          <div class="mobile-menu__section">
            {%- assign is_mega_menu = false -%}
            {%- assign downcase_title = link.title | downcase | strip -%}

            {%- for mega_menu in mega_menus -%}
              {%- assign mega_menu_setting_downcase = mega_menu | downcase | strip -%}

              {%- if mega_menu_setting_downcase == downcase_title -%}
                {%- assign is_mega_menu = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if is_mega_menu -%}
              <div class="mobile-menu__nav-list">
                {%- for sub_link in link.links -%}
                  {%- capture mobile_list_id -%}mobile-list-{% increment mobile_list %}{%- endcapture -%}

                  <div class="mobile-menu__nav-list-item">
                    {%- if sub_link.levels == 0 -%}
                      <a href="{{ sub_link.url }}" class="mobile-menu__nav-list-toggle text--strong">{{ sub_link.title }}</a>
                    {%- else -%}
                      <button class="mobile-menu__nav-list-toggle text--strong" aria-controls="{{ mobile_list_id }}" aria-expanded="false" data-action="toggle-collapsible" data-close-siblings="false">
                        {{- sub_link.title -}} {% render 'icon', icon: 'arrow-bottom' %}
                      </button>

                      <div id="{{ mobile_list_id }}" class="mobile-menu__nav-collapsible">
                        <div class="mobile-menu__nav-collapsible-content">
                          <ul class="mobile-menu__nav" data-type="menu" role="list">
                            {%- for sub_sub_link in sub_link.links -%}
                              <li load="lazy" class="lazyload mobile-menu__nav-item">
                                <a href="{{ sub_sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_sub_link.title }}</a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>

              {%- assign mega_menu_block = nil -%}

              {%- for block in section.blocks -%}
                {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

                {%- if downcase_block_menu_item == downcase_title -%}
                  {%- assign mega_menu_block = block -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}

              {%- assign promo_count = 0 -%}

              {%- capture promo_blocks -%}
                {%- if mega_menu_block.settings.image_1 != blank -%}
                  {% assign promo_count = promo_count | plus: 1 %}

                  <div class="mobile-menu__promo-item">
                    <a href="{{ mega_menu_block.settings.image_1_link | default: '#' }}" class="mobile-menu__promo">
                      <div class="mobile-menu__image-wrapper">
                        <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: mega_menu_block.settings.image_1.aspect_ratio }}%">
                          <img load="lazy" class="lazyload image--fade-in" data-src="{{ mega_menu_block.settings.image_1 | img_url: '550x' }}" alt="{{ mega_menu_block.settings.image_1.alt | escape }}">
                        </div>
                      </div>

                      <span class="mobile-menu__image-heading heading">{{ mega_menu_block.settings.image_1_heading | escape }}</span>
                      <p class="mobile-menu__image-text">{{ mega_menu_block.settings.image_1_text | escape }}</p>
                    </a>
                  </div>
                {%- endif -%}

                {%- if mega_menu_block.settings.image_2 != blank -%}
                  {% assign promo_count = promo_count | plus: 1 %}

                  <div class="mobile-menu__promo-item">
                    <a href="{{ mega_menu_block.settings.image_2_link | default: '#' }}" class="mobile-menu__promo">
                      <div class="mobile-menu__image-wrapper">
                        <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: mega_menu_block.settings.image_2.aspect_ratio }}%">
                          <img load="lazy" class="lazyload image--fade-in" data-src="{{ mega_menu_block.settings.image_2 | img_url: '550x' }}" alt="{{ mega_menu_block.settings.image_2.alt | escape }}">
                        </div>
                      </div>

                      <span class="mobile-menu__image-heading heading">{{ mega_menu_block.settings.image_2_heading | escape }}</span>
                      <p class="mobile-menu__image-text">{{ mega_menu_block.settings.image_2_text | escape }}</p>
                    </a>
                  </div>
                {%- endif -%}
              {%- endcapture -%}

              {%- if promo_blocks != blank -%}
                {%- if promo_count == 1 -%}
                  {{- promo_blocks -}}
                {%- else -%}
                  <div class="scroller">
                    <div class="scroller__inner">
                      <div class="mobile-menu__promo-list">
                        {{- promo_blocks -}}
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              <ul class="mobile-menu__nav" data-type="menu" role="list">
                <li load="lazy" class="lazyload mobile-menu__nav-item">
                  <a href="{{ link.url }}" class="mobile-menu__nav-link text--strong">{{ link.title }}</a>
                </li>

                {%- for sub_link in link.links -%}
                  <li load="lazy" class="lazyload mobile-menu__nav-item">
                    {%- if sub_link.links != blank -%}
                      {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}

                      <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
                        {{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                      </button>
                    {%- else -%}
                      <a href="{{ sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_link.title }}</a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- comment -%}Finally we need to do the same to create the third level menus{%- endcomment -%}

    {%- for link in menu.links -%}
      {%- if link.links != blank -%}
        {%- assign downcase_title = link.title | downcase -%}

        {%- unless mega_menus contains downcase_title -%}
          {%- for sub_link in link.links -%}
            {%- if sub_link.links != blank -%}
              {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}

              <div id="{{ panel_id }}" class="mobile-menu__panel is-nested">
                <div class="mobile-menu__section is-sticky">
                  <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-left' %} {{ 'header.navigation.back' | t }}</button>
                </div>

                <div class="mobile-menu__section">
                  <ul class="mobile-menu__nav" data-type="menu" role="list">
                    <li load="lazy" class="lazyload mobile-menu__nav-item">
                      <a href="{{ sub_link.url }}" class="mobile-menu__nav-link text--strong">{{ sub_link.title }}</a>
                    </li>

                    {%- for sub_sub_link in sub_link.links -%}
                      <li load="lazy" class="lazyload mobile-menu__nav-item">
                        <a href="{{ sub_sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_sub_link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>