{% if product.tags contains 'MwEp8UY7' %}
  <script type="text/javascript">
    $(document).ready(function () {
      var item_sku_0 = $('div.product-meta__reference span.product-meta__sku-number').text();
      var item_sku = item_sku_0.substring(item_sku_0.indexOf('A') + 1, item_sku_0.lastIndexOf('_'));
      var backup_string_srcset_bl = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-group-value="negro"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_bl= ' + backup_string_srcset_bl);
      backup_string_srcset_bl = backup_string_srcset_bl.replace('_{width}x', '');
      var backup_string_datazoom_bl =
        backup_string_srcset_bl +
        ' 400w, ' +
        backup_string_srcset_bl +
        ' 500w, ' +
        backup_string_srcset_bl +
        ' 600w, ' +
        backup_string_srcset_bl +
        ' 700w, ' +
        backup_string_srcset_bl +
        ' 800w, ' +
        backup_string_srcset_bl +
        ' 900w, ' +
        backup_string_srcset_bl +
        ' 1000w, ' +
        backup_string_srcset_bl +
        ' 1100w, ' +
        backup_string_srcset_bl +
        ' 1200w';
      window.background_bl = { srcset: backup_string_srcset_bl, datazoom: backup_string_datazoom_bl };
      window.custom_srcset_bl = 'https://cdn.canvaslab.com/mockups/' + item_sku + '-Enmarcado-blk-ml.jpg';
      window.custom_datazoom_bl = window.custom_srcset_bl;
      Object.freeze(window.background_bl);
      Object.freeze(window.custom_srcset_bl);
      Object.freeze(window.custom_datazoom_bl);

      var backup_string_srcset_wh = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-group-value="blanco"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_wh= ' + backup_string_srcset_wh);
      backup_string_srcset_wh = backup_string_srcset_wh.replace('_{width}x', '');
      var backup_string_datazoom_wh =
        backup_string_srcset_wh +
        ' 400w, ' +
        backup_string_srcset_wh +
        ' 500w, ' +
        backup_string_srcset_wh +
        ' 600w, ' +
        backup_string_srcset_wh +
        ' 700w, ' +
        backup_string_srcset_wh +
        ' 800w, ' +
        backup_string_srcset_wh +
        ' 900w, ' +
        backup_string_srcset_wh +
        ' 1000w, ' +
        backup_string_srcset_wh +
        ' 1100w, ' +
        backup_string_srcset_wh +
        ' 1200w';
      window.background_wh = { srcset: backup_string_srcset_wh, datazoom: backup_string_datazoom_wh };
      window.custom_srcset_wh = 'https://cdn.canvaslab.com/mockups/' + item_sku + '-Enmarcado-wht-ml.jpg';
      window.custom_datazoom_wh = window.custom_srcset_wh;
      Object.freeze(window.background_wh);
      Object.freeze(window.custom_srcset_wh);
      Object.freeze(window.custom_datazoom_wh);

      var backup_string_srcset_wo = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-group-value="madera"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_wo= ' + backup_string_srcset_wo);
      backup_string_srcset_wo = backup_string_srcset_wo.replace('_{width}x', '');
      var backup_string_datazoom_wo =
        backup_string_srcset_wo +
        ' 400w, ' +
        backup_string_srcset_wo +
        ' 500w, ' +
        backup_string_srcset_wo +
        ' 600w, ' +
        backup_string_srcset_wo +
        ' 700w, ' +
        backup_string_srcset_wo +
        ' 800w, ' +
        backup_string_srcset_wo +
        ' 900w, ' +
        backup_string_srcset_wo +
        ' 1000w, ' +
        backup_string_srcset_wo +
        ' 1100w, ' +
        backup_string_srcset_wo +
        ' 1200w';
      window.background_wo = { srcset: backup_string_srcset_wo, datazoom: backup_string_datazoom_wo };
      window.custom_srcset_wo = 'https://cdn.canvaslab.com/mockups/' + item_sku + '-Enmarcado-pin-ml.jpg';
      window.custom_datazoom_wo = window.custom_srcset_wo;
      Object.freeze(window.background_wo);
      Object.freeze(window.custom_srcset_wo);
      Object.freeze(window.custom_datazoom_wo);

      var backup_string_srcset_01 = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-media-id="24280985305277"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_01= ' + backup_string_srcset_01);
      backup_string_srcset_01 = backup_string_srcset_01.replace('_{width}x', '');
      var backup_string_datazoom_01 =
        backup_string_srcset_01 +
        ' 400w, ' +
        backup_string_srcset_01 +
        ' 500w, ' +
        backup_string_srcset_01 +
        ' 600w, ' +
        backup_string_srcset_01 +
        ' 700w, ' +
        backup_string_srcset_01 +
        ' 800w, ' +
        backup_string_srcset_01 +
        ' 900w, ' +
        backup_string_srcset_01 +
        ' 1000w, ' +
        backup_string_srcset_01 +
        ' 1100w, ' +
        backup_string_srcset_01 +
        ' 1200w';
      window.background_01 = { srcset: backup_string_srcset_01, datazoom: backup_string_datazoom_01 };
      window.custom_srcset_01 = 'https://cdn.canvaslab.com/mat_feature/because_01.jpg';
      window.custom_datazoom_01 = window.custom_srcset_01;
      Object.freeze(window.background_01);
      Object.freeze(window.custom_srcset_01);
      Object.freeze(window.custom_datazoom_01);

      var backup_string_srcset_02 = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-media-id="24280985338045"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_02= ' + backup_string_srcset_02);
      backup_string_srcset_02 = backup_string_srcset_02.replace('_{width}x', '');
      var backup_string_datazoom_02 =
        backup_string_srcset_02 +
        ' 400w, ' +
        backup_string_srcset_02 +
        ' 500w, ' +
        backup_string_srcset_02 +
        ' 600w, ' +
        backup_string_srcset_02 +
        ' 700w, ' +
        backup_string_srcset_02 +
        ' 800w, ' +
        backup_string_srcset_02 +
        ' 900w, ' +
        backup_string_srcset_02 +
        ' 1000w, ' +
        backup_string_srcset_02 +
        ' 1100w, ' +
        backup_string_srcset_02 +
        ' 1200w';
      window.background_02 = { srcset: backup_string_srcset_02, datazoom: backup_string_datazoom_02 };
      window.custom_srcset_02 = 'https://cdn.canvaslab.com/mat_feature/because_02.jpg';
      window.custom_datazoom_02 = window.custom_srcset_02;
      Object.freeze(window.background_02);
      Object.freeze(window.custom_srcset_02);
      Object.freeze(window.custom_datazoom_02);

      var backup_string_srcset_03 = $(
        '.product-gallery .product-gallery__carousel-wrapper div[data-media-id="24280985370813"] .product-gallery__size-limiter img'
      ).attr('data-src');
      console.log('backup_string_srcset_03= ' + backup_string_srcset_03);
      backup_string_srcset_03 = backup_string_srcset_03.replace('_{width}x', '');
      var backup_string_datazoom_03 =
        backup_string_srcset_03 +
        ' 400w, ' +
        backup_string_srcset_03 +
        ' 500w, ' +
        backup_string_srcset_03 +
        ' 600w, ' +
        backup_string_srcset_03 +
        ' 700w, ' +
        backup_string_srcset_03 +
        ' 800w, ' +
        backup_string_srcset_03 +
        ' 900w, ' +
        backup_string_srcset_03 +
        ' 1000w, ' +
        backup_string_srcset_03 +
        ' 1100w, ' +
        backup_string_srcset_03 +
        ' 1200w';
      window.background_03 = { srcset: backup_string_srcset_03, datazoom: backup_string_datazoom_03 };
      window.custom_srcset_03 = 'https://cdn.canvaslab.com/mat_feature/because_03.jpg';
      window.custom_datazoom_03 = window.custom_srcset_03;
      Object.freeze(window.background_03);
      Object.freeze(window.custom_srcset_03);
      Object.freeze(window.custom_datazoom_03);

      var backup_string_src_diff = $('div#fra_d img').attr('src');
      console.log('backup_string_src_diff= ' + backup_string_src_diff);
      window.background_diff = backup_string_src_diff;
      window.custom_src_diff = 'https://cdn.canvaslab.com/mat_feature/because_diff2.jpg';
      Object.freeze(window.background_diff);
      Object.freeze(window.custom_src_diff);
    });
  </script>
{% endif %}
{% style %}
  {% if product.tags contains '01-custom' or product.tags contains '04-clc' or product.tags contains '01-clp' or product.title contains 'uadro personalizado ' %}
    body.template-product #cart_attr{
      display:none;
   margin-bottom: 10px !important;
    }
    div#cl_cc {
   margin-top: calc(-1 * var(--header-height))!important;
    }
    div#cl_cc > div.fixer_cl {
      padding-top: var(--header-height) !important;
    }
    div#swatch_ml{
      display: none !important;
    }
  {% endif %}
{% endstyle %}
{%- assign selected_variant = product.selected_or_first_available_variant -%}

<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}

  <div class="card__section">
    {% comment %}
      ------------------------------------------------------------------------------
      PRODUCT META
      ------------------------------------------------------------------------------
    {% endcomment %}

    {%- if section.settings.show_share_buttons -%}
      {%- capture share_buttons -%}
        {%- assign share_url = shop.url | append: product.url -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

        <ul class="social-media__item-list list--unstyled" role="list">
          <li class="social-media__item social-media__item--facebook">
            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
          </li>

          <li class="social-media__item social-media__item--pinterest">
            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
          </li>

          <li class="social-media__item social-media__item--twitter">
            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
          </li>

          <li class="social-media__item">
            <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
          </li>
        </ul>
      {%- endcapture -%}
    {%- endif -%}

    <div class="product-meta">
      {%- if template.name == 'product' and template != 'product.quick-view' -%}
        <h1 class="product-meta__title heading h1">{{ product.title }}</h1>
        {% render 'okendo-reviews-product-rating-summary', product: product %}
      {%- else -%}
        <h3 class="product-meta__title heading h2">
          {% render 'okendo-reviews-product-rating-summary', product: product %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>
      {%- endif -%}

      {% comment %}
        {% for resource3 in all_products['a99'].media  %}
          {% if resource3.media_type == "external_video" %}
          	{{ resource3 | external_video_tag }} <br>
          {% endif %}
        {% endfor %}
      {% endcomment %}

      {% comment %}
        {% if product.tags contains 'canvas impresos personalizados' or product.tags contains 'acrilicos impresos personalizados' or product.tags contains 'aluminios impresos personalizados' or product.tags contains 'pixsets' or product.tags contains 'viniles' %}
        {% else %}

          {% for resource3 in all_products['a99'].media  %}

            {% if resource3.media_type == "image" %}
                {{ resource3 | img_url | img_tag }} <br>
            {% endif %}
            {% if resource3.media_type == "video" %}
                {{ resource3 | video_tag: image_size: "1024x" }} <br>
            {% endif %}

            {% if resource3.media_type == "external_video" %}
        		  {{ resource3 | img_url | img_tag }} <br>
                {{ resource3 | external_video_tag }} <br>
        		  <hr>
            {% endif %}

          {% endfor %}

        {% endif %}
      {% endcomment %}

      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label1:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label2:' -%}
            <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if settings.show_discount -%}
          {%- assign savings = 0 -%}

          {%- if settings.discount_mode == 'percentage' -%}
            {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
          {%- else -%}
            {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money_without_trailing_zeros }}</span>{%- endcapture -%}
          {%- endif -%}

          <!--span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span-->

        {%- endif -%}
      {%- endcapture -%}

      {%- if product_labels != blank -%}
        <div class="product-meta__label-list">
          {{- product_labels -}}
        </div>
      {%- endif -%}
      <div style="display: none;" class="priceNN price">
        {{- selected_variant.price | money_without_trailing_zeros -}}
      </div>
      <div class="product-form__info-list">
        <div
          class="product-form__info-item"
          style="display: inline-block !important; width: 100% !important; min-width: 100% !important; max-width: 100% !important; float: unset !important; height: 50px !important; margin: 0 !important;"
        >
          <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>

          <div class="product-form__info-content" role="region" aria-live="polite">
            <style>
              div.price-list {
                max-width: unset !important;
                width: auto !important;
                display: table-cell;
                float: left !important;
              }
            </style>
            
            <div class="price-list">
              {%- if selected_variant.compare_at_price > selected_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money_without_trailing_zeros -}}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                  {{- selected_variant.compare_at_price | money_without_trailing_zeros -}}
                </span>
              {%- else -%}
                <span class="price">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money_without_trailing_zeros -}}
                </span>
              {%- endif -%}
            </div>
            <div
              id="save"
              style="font-style: italic !important;color:#f02626!important;display: inline-flex !important;font-size: 15px !important;"
            ></div>

            {% if prom_v1 == '6 MSI Agresivo' %}
              {% assign calc_months = 6 %}
            {% elsif prom_v1 == '6 MSI Medio' %}
              {% assign calc_months = 6 %}
            {% elsif prom_v1 == '9 MSI Agresivo' %}
              {% assign calc_months = 9 %}
            {% elsif prom_v1 == '12 MSI Agresivo' %}
              {% assign calc_months = 12 %}
            {% else %}
              {% assign calc_months = 0 %}
            {% endif %}

            {%- comment -%}
            {%- endcomment -%}

            {% if product.title contains 'Tarjeta de Regalo' %}
              <style>
                html body .product-meta .product-form__info-list {
                  margin: 0 !important;
                  display: flex !important;
                }
                html body main#main {
                  display: block !important;
                  clear: both !important;
                  height: auto !important;
                  position: relative !important;
                  margin: 0 auto !important;
                }
                html body div#shopify-section-text-with-icons {
                  transform: translateY(55px);
                }
              </style>
            {% endif %}

            {% if calc_months > 0 %}
              {% assign mi = price | divided_by: calc_months | times: 1 %}
              <span
                id="msi_holder"
                style="width:100%!important;clear:both!important;transform:translatey(-6px)!important;"
                ><i style="line-height: 1.2em !important; display: block !important; "
                  >O <strong class="pr">{{ mi | money }}</strong> a <strong>{{ calc_months }}</strong> MSI</i
                ></span
              >
            {% else %}
              {% assign mi2 = price | times: 1.204 | divided_by: 12 %}
              {% unless product.title contains 'Tarjeta de Regalo' %}
                <span
                  id="msi_holder"
                  style="width:100%!important;clear:both!important;transform:translatey(-6px)!important;"
                  ><small
                    ><i style="line-height: 1.2em !important; display: block !important; "
                      >0 12 pagos de <strong>{{ mi2 | money }}</strong> (Total
                      <strong class="pr">{{ mi2 | times: 12 | money }}</strong>)</i
                    ></small
                  ></span
                >
              {% endunless %}
            {% endif %}

            <div
              class="product-form__price-info"
              style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}"
            >
              <div class="unit-price-measurement">
                <span class="unit-price-measurement__price">
                  {{- selected_variant.unit_price | money_without_trailing_zeros -}}
                </span>
                <span class="unit-price-measurement__separator">/ </span>

                <span
                  class="unit-price-measurement__reference-value"
                  {%- if selected_variant.unit_price_measurement.reference_value == 1 -%}
                    style="display: none"
                  {% endif %}
                >
                  {{- selected_variant.unit_price_measurement.reference_value -}}
                </span>

                <span class="unit-price-measurement__reference-unit">
                  {{- selected_variant.unit_price_measurement.reference_unit -}}
                </span>
              </div>
            </div>

            {%- if section.settings.show_taxes_included -%}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <p class="product-form__price-info">
                  {%- if shop.taxes_included -%}
                    {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
          <div class="product-form__info-item">
            <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>

            <div class="product-form__info-content">
              {%- if selected_variant.available -%}
                {%- if selected_variant.inventory_management
                  and selected_variant.inventory_policy == 'deny'
                  and section.settings.low_inventory_threshold > 0
                -%}
                  {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                    <span class="product-form__inventory inventory inventory--low">
                      {{-
                        'product.form.low_stock_with_quantity_count'
                        | t: count: selected_variant.inventory_quantity
                      -}}
                    </span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">
                      {{-
                        'product.form.in_stock_with_quantity_count'
                        | t: count: selected_variant.inventory_quantity
                      -}}
                    </span>
                  {%- endif -%}
                {%- else -%}
                  {%- if selected_variant.inventory_policy == 'continue'
                    and selected_variant.inventory_quantity <= 0
                    and selected_variant.requires_shipping
                  -%}
                    <span class="product-form__inventory inventory inventory--high">
                      {{- 'product.form.oversell_stock' | t -}}
                    </span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">
                      {{- 'product.form.in_stock' | t -}}
                    </span>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
              {%- endif -%}

              {%- for tag in product.tags -%}
                {%- if tag contains '__stock:' -%}
                  {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                  {%- assign stock_countdown_progress = selected_variant.inventory_quantity
                    | divided_by: stock_countdown_max
                    | times: 100.0
                    | at_least: 0
                    | at_most: 100
                  -%}

                  <span
                    class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}"
                    data-stock-countdown-max="{{ stock_countdown_max }}"
                  >
                    <span class="inventory-bar__progress" style="width: 100%"></span>
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.show_reviews_badge -%}
        <a
          href="{% if template.name != 'product' or template == 'product.quick-view' %}{{ product.url | within: collection }}{% endif %}#product-reviews"
          class="product-meta__reviews-badge link"
          data-offset="30"
        >
          {%- comment -%}{% render 'okendo-reviews-product-rating-summary', product: product %}{%- endcomment -%}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            {%- comment -%}Display a placeholder, to allocate space{%- endcomment -%}
            <div class="spr-badge" style="opacity: 0">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
              <span class="spr-badge-caption">filler</span>
            </div>
          </span>
        </a>
      {%- endif -%}
    </div>
    <style>
      div#timer_SingleProduct {
        display: flex !important;
        margin-top: -20px !important;
        margin-bottom: 30px !important;
      }
      div#timer_SingleProduct ul {
        display: block !important;
        list-style-type: none !important;
        width: 100% !important;
        clear: both !important;
      }
      div#timer_SingleProduct ul img {
        max-width: 34px !important;
        margin-left: -6px !important;
      }
      div#timer_SingleProduct ul > li {
        display: inline-block !important;
        float: left !important;
      }
      div#timer_SingleProduct ul > li:nth-child(1) {
        width: 34px !important;
      }
      div#timer_SingleProduct ul > li:nth-child(2) {
        width: calc(100% - 40px) !important;
        line-height: 1em !important;
        padding-top: 1px !important;
      }
      div#timer_SingleProduct ul > li:nth-child(3) {
        width: calc(100% - 40px) !important;
        margin-top: -8px !important;
        float: left !important;
        line-height: 4em !important;
      }
      div#timer_SingleProduct ul > li:nth-child(3) > p {
        display: inline-block !important;
        margin-left: 5px !important;
        font-weight: 600 !important;
      }
      @media screen and (max-width: 640px) {
        div#timer_SingleProduct {
          padding-top: 23px !important;
        }
      }
    </style>
    <script
      async
      data-environment="production"
      src="https://js.klarna.com/web-sdk/v1/klarna.js"
      data-client-id="7436b498-655b-5ae8-b0dd-fd70b314e50e"
    ></script>
    <script>
      window.Klarna.OnsiteMessaging.refresh();
    </script>
    <div class="contentKlarnaWidget" style="margin-bottom: 2rem;">
      <klarna-placement
        data-key="credit-promotion-badge"
        data-locale="es-MX"
        data-purchase-amount="67900"
      ></klarna-placement>
    </div>
    <style>
      .contentKlarnaWidget{
        margin-bottom: 2rem;
        margin-top: -1rem;
      }
      @media (min-width: 481px) and (max-width: 767px) {
        .contentKlarnaWidget{
          margin-bottom: 1rem;
          margin-top: 0rem;
        }

      }
    </style>
    {% unless product.title contains 'Tarjeta de Regalo' %}
      <div id="timer_SingleProduct" class="row d-flex">
        <ul>
          <li>
            <img
              loading="lazy"
              width="auto"
              height="100%"
              src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Timer_icono.gif?v=1644966928"
            >
          </li>
          <li style="color:#00adef!important;font-size:15px!important;">{{ prom_v2 }}</li>
          <li style="color:#1F0D59!important;font-size:11px!important;">
            Quedan
            <p id="timerCDCL"></p>
          </li>
        </ul>
      </div>
    {% endunless %}
    <script>
      function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
      }

      var today = new Date().getTime();

      {% unless prom_v3 == null %}
        var countDownDate = new Date('{{ prom_v3 }}').getTime();
      {% else %}
        var tomorrow = new Date(today);
        tomorrow = tomorrow.setHours(0,0,0,0);
        tomorrow = addDays(tomorrow,1);
        var countDownDate = new Date(tomorrow).getTime();
      {% endunless %}

      var x = setInterval(function() {
        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('timerCDCL').innerHTML = days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's ';

        if (distance < 0) {
          clearInterval(x);
          document.getElementById("timerCDCL").innerHTML = "Expirado";
        }
      }, 1000);
    </script>

    <style>
      a#gara-sp {
        position: relative !important;
        display: block !important;
        margin-top: -30px !important;
        margin-bottom: 6px !important;
      }
      @media screen and (max-width:307px){
      	a#gara-sp {
       margin-top: 30px !important;
        }
      }
      @media screen and (max-width:298px){
      	a#gara-sp {
       margin-top: 50px !important;
        }
      }
      a#gara-sp > svg,
      a#gara-sp > p{
      	transition: all 0.3s !important;
      }
      a#gara-sp:hover > svg{
      	fill: #f0297c !important;
      }
      a#gara-sp:hover > p{
      	color: #f0297c !important;
      }
      .product-form__info-list >.product-form__info-item:nth-child(1) > span, .product-form__info-list >.product-form__info-item:nth-child(1) > div {
        display: inline-block !important;
        max-width: 80%;
        float: left !important;
        margin-top: 0px;
      }


      .block-swatch.block-swatch--disabled {
        background-color: #eee !important;
        color: #999 !important;
      }
      {% if product.title contains 'uadro personalizado ' %}
        .product-form__option:nth-child(2), .product-form__option:nth-child(2) .block-swatch:nth-child(1){
           display:none;
        }
      {% else %}
        .product-form__option:nth-child(3), .product-form__option:nth-child(3) .block-swatch:nth-child(1){
           display:none;
        }
      {% endif %}
    </style>
    {% unless product.title contains 'Tarjeta de Regalo' %}
      <a id="gara-sp" href="/pages/garantia" target="blank_">
        <p style="font-weight:600!important;display: block !important;line-height: 1.2em;margin-top: 1.5em !important;color: #00adef;font-size: 15px !important;margin-bottom: 1.5em !important;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="370.29"
            height="335.04"
            viewBox="0 0 370.29 335.04"
            style="height: 24px !important;width: 24px !important;margin: -4px 10px 0 0 !important;float: left !important;"
          >
            <g id="Layer_14" data-name="Layer 14" transform="translate(-1 -3.951)"> <path id="Path_325" data-name="Path 325" d="M73.377,58.994l-8.421,8.421L44.59,47.049H61.432Z" transform="translate(216.747 214.301)" fill="#011c75"></path> <path id="Path_326" data-name="Path 326" d="M114.669,58.994A35.834,35.834,0,0,1,78.834,94.828H43V82.883H78.834A23.854,23.854,0,0,0,99.5,47.049h13.08a34.641,34.641,0,0,1,2.09,11.945Z" transform="translate(208.841 214.301)" fill="#011c75"></path> <path id="Path_327" data-name="Path 327" d="M79.893,114.249,41.586,75.942,79.893,37.635l8.445,8.445L58.476,75.942,88.338,105.8Z" transform="translate(201.81 167.491)" fill="#00adef"></path> <path id="Path_328" data-name="Path 328" d="M33.862,52.194v10.75L4,51V40.249Z" transform="translate(14.917 180.489)" fill="#00adef"></path> <path id="Path_329" data-name="Path 329" d="M33.862,49.094v10.75L4,47.9V37.149Z" transform="translate(14.917 165.074)" fill="#f0297c"></path> <path id="Path_330" data-name="Path 330" d="M186.67,327.811,1,247.357V108.45L197.719,3.951,371.29,72.138V210.889l-31.236,19.769-6.39-10.1,25.681-16.245V80.278L198.466,17.072,12.945,115.635v123.88l172.674,74.822,37.017-23.418,6.39,10.093Z" transform="translate(0)" fill="#011c75"></path> <path id="Path_331" data-name="Path 331" d="M186.145,242.032a6.021,6.021,0,0,1-2.389-.49L4.583,163.9A5.972,5.972,0,0,1,1,158.418V27.025a5.972,5.972,0,0,1,8.194-5.548L188.366,93.146a5.972,5.972,0,0,1,3.751,5.548V236.06A5.972,5.972,0,0,1,186.145,242.032ZM12.945,154.5l167.228,72.463V102.738L12.945,35.846Z" transform="translate(0 85.014)" fill="#011c75"></path> <path id="Path_332" data-name="Path 332" d="M36.972,271.862A5.972,5.972,0,0,1,31,265.889V128.524a5.972,5.972,0,0,1,2.9-5.118L213.069,15.9a5.972,5.972,0,0,1,9.048,5.118V152.414a5.973,5.973,0,0,1-2.778,5.047l-28.458,18.012-6.39-10.1,25.681-16.239V31.574L42.945,131.91V255.043l30.519-19.309,6.385,10.093L40.162,270.912a5.972,5.972,0,0,1-3.189.95Z" transform="translate(149.172 55.185)" fill="#011c75"></path> <path id="Path_333" data-name="Path 333" d="M49.834,90.755a5.972,5.972,0,0,1-2.222-.424L17.751,78.386A5.972,5.972,0,0,1,14,72.838V32.225a5.972,5.972,0,0,1,8.194-5.548L52.056,38.622a5.972,5.972,0,0,1,3.751,5.554V84.788a5.972,5.972,0,0,1-5.972,5.972ZM25.945,68.794l17.917,7.167V48.213L25.945,41.047Z" transform="translate(64.641 110.871)" fill="#011c75"></path> <path id="Path_334" data-name="Path 334" d="M49.839,140.388a5.972,5.972,0,0,1-2.222-.424L17.755,128.019a5.972,5.972,0,0,1-.926-10.625L191.881,8.995a5.972,5.972,0,0,1,5.321-.484l30.149,11.873a5.972,5.972,0,0,1,.86,10.6L52.98,139.492a5.972,5.972,0,0,1-3.141.9ZM33.176,121.324l16.066,6.42L211.835,27.067l-16.2-6.349Z" transform="translate(64.637 20.631)" fill="#011c75"></path> <path id="Path_335" data-name="Path 335" d="M112.641,189.332a77.641,77.641,0,1,1,77.641-77.641A77.641,77.641,0,0,1,112.641,189.332Zm0-143.338a65.7,65.7,0,1,0,65.7,65.7A65.7,65.7,0,0,0,112.641,45.994Z" transform="translate(169.062 149.66)" fill="#011c75"></path> <path id="Path_336" data-name="Path 336" d="M78.834,114.718H43V102.773H78.834a23.89,23.89,0,0,0,0-47.779H43V43.049H78.834a35.834,35.834,0,0,1,0,71.669Z" transform="translate(208.841 194.411)" fill="#00adef"></path> </g>
          </svg>
          Cambios y devoluciones gratis
        </p>
      </a>
    {% endunless %}

    <hr class="card__separator" style="margin-top: 0 !important; ">

    {% if product.title contains 'Tarjeta de Regalo' %}
      <p>{{ product.description | remove: 'data-section-type="product"' }}</p>
      <br>
    {% endif %}

    {%- if request.page_type == 'index'
      and section.settings.show_description
      and product.description != blank
      and section.settings.description_below_add_to_cart == false
    -%}
      <div class="product-meta__description rte">
        {{ product.description | remove: 'data-section-type="product"' }}
      </div>
    {%- endif -%}

    {% comment %}
      ------------------------------------------------------------------------------
      PRODUCT FORM
      ------------------------------------------------------------------------------
    {% endcomment %}

    {%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve' | split: ',' -%}

    {%- form 'product', product, class: 'product-form' -%}
      {% comment %}
        {% if product.handle == 'canvas-personalizado-50-x-150-cm' %}
           {% endif %}
      {% endcomment %}

      {% unless product.tags contains 'diseños-especiales' %}
        {% if product.tags contains 'canvas impresos personalizados'
          or product.tags contains '01-custom'
          or product.tags contains '04-clc'
          or product.tags contains '01-clp'
          or product.title contains 'uadro personalizado '
        %}
          <div class="cart-attribute__field ca_pr" id="cart_attr">
            <div>
              <small class="heading h4" style="font-size:15px;margin-right:8px;"
                >Selecciona el tipo de
                <a style="color: #00adef !important; text-decoration: underline !important;" href="#cl_cc">perfil</a>
              </small>
              <select required class="required" id="perfil" name="properties[Perfil]">
                <option
                  value="Espejeado"
                  {% if cart.attributes.Perfil == 'Espejeado' %}
                    selected
                  {% endif %}
                >
                  Espejeado
                </option>
                <option
                  value="Color"
                  {% if cart.attributes.Perfil == 'Color' %}
                    selected
                  {% endif %}
                >
                  Color
                </option>
              </select>
              <input required class="required" id="color" type="color" name="properties[Color]" value="ninguno">
            </div>
          </div>

          <script type="text/javascript" defer="defer">
            $('#perfil').on('change', function () {
              var perfil = $('#perfil option:selected').val();
              if (perfil == 'Espejeado') {
                $('#color').hide();
                $('#color').prop('value', 'ninguno');
                $('#color').prop('required', false);
              } else {
                $('#color').show();
                $('#color').prop('value', '#000000');
                $('#color').prop('required', true);
              }
            });

            $(document).ready(function () {
              $('#color').hide();
            });
          </script>
        {% endif %}
      {% endunless %}
      {% if product.tags contains '05-cla'
        or product.tags contains '04-clc'
        or product.title contains ', con Marialuisa'
      %}
        <div class="cart-attribute__field fr_ml" id="cart_attr" style="display:none !important;">
          <div>
            <small class="heading h4" style="font-size:15px;margin-right:8px;">¿Deseas Marialuisa?</small>
            <select required class="required" id="marialuisa" name="properties[Marialuisa]">
              {% unless product.title contains ', con Marialuisa' %}
                <option
                  value="No"
                  {% if cart.attributes.Marialuisa == 'No' %}
                    selected
                  {% endif %}
                >
                  No
                </option>
              {% endunless %}
              <option
                value="Si"
                {% if cart.attributes.Marialuisa == 'Si' %}
                  selected
                {% endif %}
              >
                Si
              </option>
            </select>
          </div>
        </div>
        <script defer>
          $('body').on(
            'DOMSubtreeModified',
            '.product-form__variants > .product-form__option:nth-child(3) > .product-form__option-name > .product-form__selected-value',
            function () {
              setTimeout(function () {
                var trigger_ml_0 =
                  $('.product-meta > h1.product-meta__title.heading.h1').text().indexOf('marialuisa') >= 0;
                var trigger_ml_1 =
                  $('.product-form__option:nth-child(1) > .product-form__option-name > .product-form__selected-value')
                    .text()
                    .indexOf('marialuisa') >= 0;
                var trigger_ml_2 =
                  $('.product-form__option:nth-child(2) > .product-form__option-name > .product-form__selected-value')
                    .text()
                    .indexOf('marialuisa') >= 0;
                var trigger_ml_3 =
                  $('.product-form__option:nth-child(3) > .product-form__option-name > .product-form__selected-value')
                    .text()
                    .indexOf('marialuisa') >= 0;
                if (trigger_ml_0 != false || trigger_ml_1 != false || trigger_ml_2 != false || trigger_ml_3 != false) {
                  $('#marialuisa').val('Si');
                  if (trigger_ml_3 != false) {
                    $('div#fra_d img').attr('src', 'https://cdn.canvaslab.com/mat_feature/because_diff2.jpg');
                  }
                } else {
                  $('#marialuisa').val('No');
                  if (trigger_ml_3 == false) {
                    $('div#fra_d img').attr(
                      'src',
                      'https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Because_-_diferenciadores_-_Enmarcados.jpg?v=1675369333'
                    );
                  }
                }
              }, 360);
            }
          );
        </script>
      {% endif %}
      {%- unless product.has_only_default_variant -%}
        <div class="product-form__variants">
          {%- for option in product.options_with_values -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

            {%- assign option_selector_type = 'select' -%}

            {%- if section.settings.color_mode != 'block'
              and section.settings.color_mode != 'dropdown'
              and color_label contains downcase_option
            -%}
              {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}

              {%- assign has_image_attached_to_all_variants = true -%}

              {%- for variant in product.variants -%}
                {%- unless variant.image -%}
                  {%- assign has_image_attached_to_all_variants = false -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}

              {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                {%- assign option_selector_type = 'color' -%}
              {%- else -%}
                {%- assign option_selector_type = 'variant' -%}
              {%- endif -%}
            {%- else -%}
              {%- if color_label contains downcase_option -%}
                {%- if section.settings.color_mode == 'block' -%}
                  {%- assign option_selector_type = 'block' -%}
                {%- endif -%}
              {%- elsif section.settings.selector_mode == 'block' -%}
                {%- assign option_selector_type = 'block' -%}
              {%- endif -%}
            {%- endif -%}

            <div class="product-form__option" data-selector-type="{{ option_selector_type }}">
              {%- case option_selector_type -%}
                {%- when 'color' -%}
                  <span class="product-form__option-name text--strong">
                    {{- option.name }}:
                    <span class="product-form__selected-value">{{ option.selected_value }}</span></span
                  >

                  <div class="color-swatch-list color-swatch-list--large">
                    {%- for value in option.values -%}
                      {%- assign downcased_value = value | downcase -%}
                      {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- assign color_swatch_name = value | handle | append: '.png' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                        <input
                          class="color-swatch__radio product-form__single-selector"
                          type="radio"
                          name="{{ option_name }}"
                          id="{{ color_id }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                            checked
                          {% endif %}
                          data-option-position="{{ option.position }}"
                        >
                        <label
                          class="color-swatch__item lazyload"
                          for="{{ color_id }}"
                          {% if color_swatch_image != blank %}
                            data-bg="{{ color_swatch_image | img_url: '64x64' }}"
                          {% else %}
                            style="background-color: {{ value | replace: ' ', '' | downcase }}"
                          {% endif %}
                          title="{{ value | escape }}"
                        >
                          {%- render 'icon', icon: 'cross-sold-out' -%}
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'variant' -%}
                  <span class="product-form__option-name text--strong">
                    {{- option.name }}:
                    <span class="product-form__selected-value">{{ option.selected_value }}</span></span
                  >

                  <div class="variant-swatch-list">
                    {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}

                    {%- for value in option.values -%}
                      {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_name] == value and variant.image -%}
                          <div class="variant-swatch">
                            <input
                              class="variant-swatch__radio product-form__single-selector"
                              type="radio"
                              name="{{ option_name }}"
                              id="{{ variant_swatch_id }}"
                              value="{{ value | escape }}"
                              {% if option.selected_value == value %}
                                checked
                              {% endif %}
                              data-option-position="{{ option.position }}"
                            >

                            <label
                              class="variant-swatch__item"
                              for="{{ variant_swatch_id }}"
                              title="{{ value | escape }}"
                            >
                              <div
                                class="aspect-ratio"
                                style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%"
                              >
                                <img
                                  loading="lazy"
                                  width="auto"
                                  height="100%"
                                  src="{{ variant.image | img_url: '120x' }}"
                                  alt="{{ variant.image.alt | escape }}"
                                >
                              </div>

                              {% render 'icon', icon: 'cross-sold-out' %}
                            </label>
                          </div>

                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                {%- when 'block' -%}
                  <span class="product-form__option-name text--strong">
                    {{- option.name }}:
                    <span class="product-form__selected-value">{{ option.selected_value }}</span></span
                  >

                  <div class="block-swatch-list">
                    {% assign stk_count = 0 %}
                    {%- for value in option.values -%}
                      {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      <div class="block-swatch">
                        {% comment %}
                            {%- if value contains " x " -%}
                          {% assign stk_count = stk_count | plus: 1 %}
                            		{%- if stk_count == 3 -%}
                          		<span class="stk_recomendado">Más popular</span>
                          	{%- endif -%}

                            {%- endif -%}
                        {% endcomment %}
                        <input
                          class="block-swatch__radio product-form__single-selector"
                          type="radio"
                          name="{{ option_name }}"
                          id="{{ block_swatch_id }}"
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                            checked
                          {% endif %}
                          data-option-position="{{ option.position }}"
                        >
                        <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                          <span class="block-swatch__item-text">
                            {%- if value contains ' cm' -%}
                              {{ value | replace: ' cm', '' }}
                            {%- else -%}
                              {{ value }}
                            {%- endif -%}
                          </span>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'select' -%}
                  <label for="{{ option_name }}" class="product-form__option-name text--strong">
                    {{- option.name }}:
                    <span class="product-form__selected-value">{{ option.selected_value }}</span></label
                  >

                  <div class="select-wrapper select-wrapper--primary">
                    {%- render 'icon', icon: 'arrow-bottom' -%}

                    <select
                      class="product-form__single-selector"
                      name="{{ option_name }}"
                      id="{{ option_name }}"
                      data-option-position="{{ option.position }}"
                    >
                      {%- for value in option.values -%}
                        <option
                          value="{{ value | escape }}"
                          {% if value == option.selected_value %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}

          <div class="no-js product-form__option">
            <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

            <div class="select-wrapper select-wrapper--primary">
              <select id="product-select-{{ product.id }}" name="id">
                {%- for variant in product.variants -%}
                  <option
                    {% if variant == selected_variant %}
                      selected="selected"
                    {% endif %}
                    {% unless variant.available %}
                      disabled="disabled"
                    {% endunless %}
                    value="{{ variant.id }}"
                    data-sku="{{ variant.sku }}"
                  >
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
      {%- endunless -%}

      {% render 'product-personalizer' %}
      {%- if product.template_suffix != 'contact' -%}
        {%- if section.settings.show_quantity_selector -%}
          <div class="product-form__info-item product-form__info-item--quantity">
            <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">
              {{- 'product.form.quantity' | t }}:</label
            >

            <div class="product-form__info-content">
              <div class="quantity-selector quantity-selector--product">
                <button
                  type="button"
                  class="quantity-selector__button"
                  data-action="decrease-picker-quantity"
                  aria-label="{{ 'cart.items.decrease_quantity' | t }}"
                  title="{{ 'cart.items.decrease_quantity' | t }}"
                >
                  {% render 'icon', icon: 'minus' %}
                </button>
                <input
                  name="quantity"
                  aria-label="{{ 'product.form.quantity' | t }}"
                  class="quantity-selector__value"
                  inputmode="numeric"
                  value="1"
                  size="3"
                >
                <button
                  type="button"
                  class="quantity-selector__button"
                  data-action="increase-picker-quantity"
                  aria-label="{{ 'cart.items.increase_quantity' | t }}"
                  title="{{ 'cart.items.increase_quantity' | t }}"
                >
                  {% render 'icon', icon: 'plus' %}
                </button>
              </div>
            </div>
          </div>
        {%- else -%}
          <input type="hidden" name="quantity" value="1">
        {%- endif -%}
      {%- endif -%}

      <div class="product-form__payment-container">
        {%- if product.template_suffix != 'contact' -%}
          {%- if selected_variant.available -%}
            {%- if product.template_suffix == 'pre-order' -%}
              <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart">
                {{ 'product.form.pre_order' | t }}
              </button>
            {%- else -%}
              <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart">
                {{ 'product.form.add_to_cart' | t }}
              </button>
            {%- endif -%}
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled" disabled>
              {{ 'product.form.sold_out' | t }}
            </button>
          {%- endif -%}

          <style>
            #delivery_notice{margin: 10px 0px;
              margin: 0 9px 9px 9px !important;
              background: #f6f3ff;
              padding: 20px;
              font-size: 14px;
              line-height: 18px;
              color:#1e2d7d !important;
              width: 100% !important;
            }

            #delivery_notice.visible_cl.dnwp {
              background-color: #f8d7da !important;
            }

            #delivery_notice.visible_cl.dnwp div#dnotice{
              position: relative !important;
            }

            #delivery_notice.visible_cl.dnwp div#dnotice::after {
              content: '';
              position: absolute !important;
              width: 100% !important;
              height: 100% !important;
              top: 0 !important;
              left: 0 !important;
              background: #842029 !important;
              mix-blend-mode: color;
            }

            div#delivery_notice_warning{
              display: block !important;
              height: auto !important;
              width: 100% !important;
              margin-top: 0px !important;
              background: #f8d7da;
              line-height: 1.3em;
              color: #842029 !important;
              overflow: hidden !important;
              position: relative !important;
              font-size: 12px !important;
            }
            .dl+div#delivery_notice_warning{
              padding-top: 10px !important;
            }

            div#delivery_notice_warning > div {
              z-index: 2 !important;
              position: relative !important;
             /* text-shadow: 2px 2px 3px rgba(0,0,0,0.34) !important;*/
            }

            @media screen and (max-width:999px){
              div#delivery_notice {
                width: 100% !important;
                margin: 9px 0 0 0 !important;
              }
              div#delivery_notice_warning {
                height: auto !important;
                width: 100% !important;
                margin-top: 9px !important;
                margin-bottom: 0px !important;
              }
            }

            html body #widget-fave-html .ssw-fave-btn-content {
              border: none !important;
              width: auto !important;
            }

            {% if product.tags contains '01-custom'%}
              {% unless product.title contains 'uadro personalizado ' %}
                .product-form__option:nth-child(2),
                .product-form__option:nth-child(2) .block-swatch:nth-child(1){
                  display: none;
                }
              {% endunless %}
            {% endif %}

            #dnotice {
                text-align: center !important;
            }
            .itsfree img {
                width: 10% !important;
                max-height: 20px !important;
                margin-right: 15px !important;
            }
            .itsfree:nth-last-child(1) {
                margin-top: 7px;
                {% if product.title contains 'crílico' or product.title contains 'luminio' %}
                  margin-bottom: 3px;
                {% else %}
                  margin-bottom: 7px;
                {% endif %}
            }
            {% if product.title contains 'crílico' or product.title contains 'luminio' %}
              .itsfree:nth-last-child(2) {
                  margin-top: 10px;
              }
            {% endif %}
          </style>
          {% unless product.title contains 'Tarjeta de Regalo' %}
            <div id="delivery_notice"></div>
          {% endunless %}

          {% capture the_snippet_fave %}{% render 'socialshopwave-widget-fave' %}{% endcapture %}
          {% unless the_snippet_fave contains 'Liquid error' %}
            {{ the_snippet_fave }}
          {% endunless %}

          {%- if section.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
            {{ form | payment_button }}
          {%- endif -%}
        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
      </div>
    {%- endform -%}

    {%- comment -%}The availability container will be added automatically if there is store pickup available{%- endcomment -%}
    {%- if section.settings.show_pickup_availability -%}
      <div class="product-meta__store-availability-container"></div>
    {%- endif -%}

    {%- if request.page_type == 'index'
      and section.settings.show_description
      and product.description != blank
      and section.settings.description_below_add_to_cart
    -%}
      <div class="product-meta__description rte">
        {{ product.description }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_share_buttons -%}
      <div class="product-meta__share-buttons hidden-tablet-and-up">
        <span class="text--strong">{{ 'product.general.share' | t }}</span>
        {{ share_buttons }}
      </div>
    {%- endif -%}

    <br>
    {%- if section.settings.show_share_buttons -%}
      <div
        class="product-meta__share-buttons hidden-phone"
        style="float: right !important; margin-top: -6px !important;"
      >
        {{ share_buttons }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_vendor or section.settings.show_sku -%}
      <div class="product-meta__reference">
        {%- if section.settings.show_vendor -%}
          {%- assign vendor_handle = product.vendor | handle -%}
          {%- assign collection_for_vendor = collections[vendor_handle] -%}

          {%- unless collection_for_vendor.empty? -%}
            <a class="product-meta__vendor link link--accented" href="{{ collection_for_vendor.url }}">
              {{- product.vendor -}}
            </a>
          {%- else -%}
            <a class="product-meta__vendor link link--accented" href="{{ product.vendor | url_for_vendor }}">
              {{- product.vendor -}}
            </a>
          {%- endunless -%}
        {%- endif -%}

        {% assign allowed_cats_handles = '2025mx, action-geek, adriana-sosa, africano, alan-ortiz, alba-derbez, alec-monopoly, alemi, alexandre-cabanel, alfons-mucha, amedeo-modigliani, americano, andres-blasquez, animals-daily, anna-tp, anton-van-dyck, arboles-1, art-nouveau, ash, aves-1, banksy, bano, basket, buda, caravaggio, carla-fernandez, cf-monterrey, claude-monet, cocina, colibri, abstracto, colorido, alimentos, animales, anime, arquitectura, arte-clasico, botanica, caricaturas, ciudades, deportes, fotografia, frases, girl-power, iconos-y-celebridades, ilustraciones, mapas, historica, musica, paisajes, peliculas, playas-y-mares, pop-art, religion-y-espiritualidad, series-de-tv, cuadros-de-star-wars, yoga-y-zen, cielo-y-espacio, blanco-y-negro, cuadros-florales, hype, minimalista, motivacional, cuadros-para-bano, cuadros-para-cocina, cuadros-para-decoracion-boho, cuadros-para-decoracion-estilo-farmhouse, cuadros-para-decoracion-industrial, cuadros-para-decoracion-japandi, cuadros-para-decoracion-mid-century-modern, cuadros-para-decoracion-nordico, fashionista, gamers, cuadros-para-nina, ninos, cuadros-para-oficina, cuadros-para-recamara, cuadros-para-sala, david-aste, dc, demon-slayer, designs-by-andrea, diego-velazquez, disney, dominico-zafri, dragon-ball, dram, dry-ink, edgar-degas, edvard-munch, efrain-malo, eggshibit, el-bosco, el-pinta-cuadros, elefantes, emmanuel-ramirez, enrique-estrada, eric-de-lucio, eugene-delacroix, expresionismo, ezdrifter, fake-classics, fallout, felipe-a, fernando-botero, fernando-garcia-cortez, final-fantasy, formula-1, francisco-de-goya, friends, frutas, fullmetal-alchemist, futbol, gatos, georges-braque, georges-seurat, gina-villalobos, giotto, god-of-war, goga, grand-theft-auto, grau-project, gustav-klimt, halo, harry-potter, hctr, heroes, hue-art, icon-hunter, impresionismo, impressionist-hero, ivan-aivazovsky, jacques-louis-david, japon, jean-francois-millet, jimena-escobedo, johannes-vermeer, john-collier, john-william-godward, joker, joseph-mallord-william-turner, josue-altamira, juni-anker, k-pop, katsushika-hokusai, la-style, laura-campos, layouts, league-of-legends, leo-messi, leonardo-da-vinci, leones, line-art, lord-of-the-rings, lorena-martinez, luis-oleg, luis-velasco, luna, lunnawabi, mafer-villarreal, marc-chagall, marce-islas, marcela-illustrates, marcos-rodriguez, mariposas, marmolista-by-aste, marvel, mary-cassatt, masaccio, mauricio-silerio, mayka-ienova, medicina, metal-gear, mexico, michael-jordan, miguel-angel, monoceroz, mortal-kombat, najesi, naruto, naturaleza, nayeli-cabrera, neon-genesis-evangelion, nintendo, norman-rockwell, nueva-york, omar-montero, one-piece, paris, paul-cezanne, paul-gauguin, paul-klee, pierre-auguste-renoir, piet-mondrian, playas, pokemon, rafael-sanzio, rahma-projekt, ramon-marquez, raul-ruz, rembrandt-van-rijn, remedios-varo, renacimiento, resident-evil, rev, rock, rodrigo-zabal, romanticismo, rosa-bonheur, sailor-moon, sandro-botticelli, sets, simbolismo, the-beatles, the-legend-of-zelda, the-witcher, todo-paisajes, todo-urbanismo, personalizados, vincent-van-gogh, wassily-kandinsky, william-adolphe-bouguereau, world-of-warcraft, yorckh'
          | split: ', '
        %}
        {% assign allowed_cats_titles = '2025mx, Action Geek, Adriana Sosa, Africano, Alán Ortiz, Alba Derbez, Alec Monopoly, Alemi, Alexandre Cabanel, Alfons Mucha, Amedeo Modigliani, Americano, Andrés Blásquez, Animals Daily, Anna TP, Anton van Dyck, Árboles, Art Nouveau, Ash, Aves, Banksy, Baño, Basket, Buda, Caravaggio, Carla Fernández, CF Monterrey, Claude Monet, Cocina, Colibríes, Cuadros Abstractos, Cuadros Coloridos, Cuadros de Alimentos, Cuadros de Animales, Cuadros de Anime, Cuadros de Arquitectura, Cuadros de Arte Clásico, Cuadros de Botánica, Cuadros de Caricaturas, Cuadros de Ciudades, Cuadros de Deportes, Cuadros de Fotografía, Cuadros de frases, Cuadros de Girl Power, Cuadros de Íconos y Celebridades, Cuadros de Ilustraciones, Cuadros de Mapas, Cuadros de momentos Históricos, Cuadros de Música, Cuadros de Paisajes, Cuadros de Películas, Cuadros de Playas y Mares, Cuadros de Pop Art, Cuadros de Religión y Espiritualidad, Cuadros de Series de TV, Cuadros de Star Wars, Cuadros de Yoga y Zen, Cuadros del Cielo y Espacio, Cuadros en Blanco y Negro, Cuadros Florales, Cuadros Hype, Cuadros Minimalistas, Cuadros Motivacionales, Cuadros para Baño, Cuadros para Cocina, Cuadros para decoración boho, Cuadros para decoración estilo Farmhouse, cuadros para decoración industrial, Cuadros para decoración Japandi, Cuadros para decoración mid-century modern, Cuadros para decoración nórdica, Cuadros para Fashionistas, Cuadros para Gamers, Cuadros para niña, Cuadros para Niños, Cuadros para Oficina, Cuadros para Recámara, Cuadros para Sala, David Aste, DC, Demon Slayer, Designs by Andrea, Diego Velázquez, Disney, Dominico Zafri, Dragon Ball, DRAM, Dry Ink, Edgar Degas, Edvard Munch, Efraín Malo, Eggshibit, El Bosco, El Pinta Cuadros, Elefantes, Emmanuel Ramírez, Enrique Estrada, Eric de Lucio, Eugène Delacroix, Expresionismo, Ezdrifter, Fake Classics, Fallout, Felipe A, Fernando Botero, Fernando García Cortez, Final Fantasy, Formula 1, Francisco de Goya, Friends, Frutas, Fullmetal Alchemist, Fútbol, Gatos, Georges Braque, Georges Seurat, Gina Villalobos, Giotto, God of War, GOGA, Grand Theft Auto, Grau Project, Gustav Klimt, Halo, Harry Potter, HCTR, Héroes, Hue Art, Icon Hunter, Impresionismo, Impressionist Hero, Iván Aivazovsky, Jacques-Louis David, Japón, Jean-François Millet, Jimena Escobedo, Johannes Vermeer, John Collier, John William Godward, Joker, Joseph Mallord William Turner, Josué Altamira, Juni Anker, K Pop, Katsushika Hokusai, LA Style, Laura Campos, Layouts, League of Legends, Leo Messi, Leonardo da Vinci, Leones, Line Art, Lord of the Rings, Lorena Martinez, Luis Oleg, Luis Velasco, Luna, LUNNAWABI, Mafer Villarreal, Marc Chagall, Marce Islas, Marcela Illustrates, Marcos Rodríguez, Mariposas, Marmolista, Marvel, Mary Cassatt, Masaccio, Mauricio Silerio, Mayka Ienova, Medicina, Metal Gear, México, Michael Jordan, Miguel Ángel, Monoceroz, Mortal Kombat, Najesi, Naruto, Naturaleza, Nayeli Cabrera, Neon Genesis Evangelion, Nintendo, Norman Rockwell, Nueva York, Omar Montero, One Piece, Paris, Paul Cézanne, Paul Gauguin, Paul Klee, Pierre-Auguste Renoir, Piet Mondrian, Playas, Pokémon, Rafael Sanzio, Rahma Projekt, Ramón Márquez, Raúl Ruz, Rembrandt van Rijn, Remedios Varo, Renacimiento, Resident Evil, Rev, Rock, Rodrigo Zabal, Romanticismo, Rosa Bonheur, Sailor Moon, Sandro Botticelli, Sets, Simbolismo, The Beatles, The Legend of Zelda, The Witcher, Todo Paisajes, Todo Urbanismo, Todos nuestros cuadros Personalizados, Vincent van Gogh, Wassily Kandinsky, William-Adolphe Bouguereau, World of Warcraft, Yorckh'
          | split: ', '
        %}
        {% assign allowed_cats_pretty = '2025mx, Action Geek, Adriana Sosa, Africano, Alán Ortiz, Alba Derbez, Alec Monopoly, Alemi, Alexandre Cabanel, Mucha, Amedeo Modigliani, Americano, Andrés Blásquez, Animals Daily, Anna TP, Van Dyck, Árboles, Art Nouveau, Ash, Aves, Banksy, Baño, Basket, Buda, Caravaggio, Carla Fernández, Rayados, Monet, Cocina, Colibríes, Abstractos, Coloridos, Cuadros de Alimentos, Animales, Anime, Arquitectura, Arte clásico, Botánica, Caricaturas, Ciudades, Deportes, Foptografías, Frases, Girl Power, Iconos, Ilustraciones, Mapas, Cuadros de momentos Históricos, Música, Cuadros de Paisajes, Peliculas, Playas, Pop Art, Espiritualidad, Cuadros de Series de TV, Star Wars, Yoga y Zen, Cielo y Espacio, Blanco y Negro, Flores, Hype, Minimalistas, Motivacionales, Baño, Cocina, Boho, Farmhouse, Industrial, Japandi, Mid-century modern, Nórdica, Fashion, Gamers, Niña, Niños, Oficina, Recámara, Salas, David Aste, DC, Demon Slayer, Designs by Andrea, Diego Velázquez, Disney, Dominico Zafri, Dragon Ball, DRAM, Dry Ink, Degas, Munch, Efraín Malo, Eggshibit, El Bosco, El Pinta Cuadros, Elefantes, Emmanuel Ramírez, Enrique Estrada, Eric de Lucio, Eugène Delacroix, Expresionismo, Ezdrifter, Fake Classics, Fallout, Felipe A, Fernando Botero, Fernando García Cortez, Final Fantasy, Formula 1, Goya, Friends, Frutas, Fullmetal Alchemist, Futbol, Gatos, Georges Braque, Georges Seurat, Gina Villalobos, Giotto, God of War, GOGA, GTA, Grau Project, Klimt, Halo, Harry Potter, HCTR, Héroes, Hue Art, Icon Hunter, Impresionismo, Impressionist Hero, Iván Aivazovsky, Jacques-Louis David, Japón, Jean-François Millet, Jimena Escobedo, Vermeer, John Collier, John William Godward, Joker, William Turner, Josué Altamira, Juni Anker, K Pop, Hokusai, LA Style, Laura Campos, Layouts, LoL, Messi, Da Vinci, Leones, Line Art, LOTR, Lorena Martinez, Luis Oleg, Luis Velasco, Luna, LUNNAWABI, Mafer Villarreal, Chagall, Marce Islas, Marcela Illustrates, Marcos Rodríguez, Mariposas, Marmolista, Marvel, Mary Cassatt, Masaccio, Mauricio Silerio, Mayka Ienova, Medicina, Metal Gear Solid, México, Jordan, Miguel Ángel, Monoceroz, Mortal Kombat, Najesi, Naruto, Naturaleza, Nayeli Cabrera, Evangelion, Nintendo, Norman Rockwell, Nueva York, Omar Montero, One Piece, Paris, Cézanne, Gauguin, Paul Klee, Renoir, Mondrian, Playas, Pokémon, Rafael Sanzio, Rahma Projekt, Ramón Márquez, Raúl Ruz, Rembrandt, Remedios Varo, Renacimiento, Resident Evil, Rev, Rock, Rodrigo Zabal, Romanticismo, Rosa Bonheur, Sailor Moon, Sandro Botticelli, Sets, Simbolismo, Beatles, Zelda, The Witcher, Paisajes, Urbanismo, Personalizados, Van Gogh, Kandinsky, Bouguereau, WOW, Yorckh'
          | split: ', '
        %}

        <ul id="tags">
          {% for collection in product.collections %}
            {% if allowed_cats_handles contains collection.handle %}
              <li>
                <a href="/collections/{{ collection.handle }}">
                  {% for title in allowed_cats_titles %}
                    {% if title == collection.title %}
                      {% assign position = forloop.index0 %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {{ allowed_cats_pretty[position] }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <span
          class="product-meta__sku"
          {% if selected_variant.sku == blank %}
            style="display: none"
          {% else %}
            style="float: left !important;"
          {% endif %}
        >
          {{- 'product.general.sku' | t -}}
          <span class="product-meta__sku-number">{{ selected_variant.sku }}</span>
        </span>
      </div>
    {%- endif -%}
    <br>
  </div>

  {%- if section.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}

  {% comment %}
    ------------------------------------------------------------------------------
    Product Data. This must be outputted for all products (including home page).

    IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
    THE EXACT SAME ATTRIBUTES.
    ------------------------------------------------------------------------------
  {% endcomment %}

  <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if section.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              {%- if variant.inventory_management and variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                {%- if variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                  {%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- else -%}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- endif -%}
              {%- else -%}
                {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
                  {%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
                {%- else %}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
            {%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        }
      {%- endif -%}
    }
  </script>
</div>

<style>
  .product-form__option:nth-child(2) .block-swatch:nth-child(3) {
    background: #ffffff !important;
  }
  .product-form__option:nth-child(2) .block-swatch:nth-child(3) .block-swatch__item-text {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-height: 40px !important;
  }

  /* .product-form__option:nth-child(2)  .block-swatch:nth-child(3) .block-swatch__item{
  padding:0px 10px !important;
    max-height:40px !important;
    margin-top:10px !important;
  }*/
  /*.product-form__option:nth-child(2)  .block-swatch:nth-child(3) .block-swatch__item-text:before{
    content: 'Recomendado'; 
    color:red !important; 
    display:block;
    font-size:10px !important;
    margin-top:0px !important; 
    margin-bottom:0px !important;}*/
  .stk_recomendado {
    text-align: center;
    color: red !important;
    display: block;
    font-size: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
</style>
