<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="p:domain_verify" content="de4bec230921a3dbfbf5a9ca4fb3956d"/>
    <meta name="theme-color" content="#16093f" />
	<meta name="ahrefs-site-verification" content="074e82b83a02f3bef74c885aefe9bc39effbcb15b6f6123843be007fa0ba2c73">
    
    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} – {{ shop.name }}, Cuadros Decorativos.
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}
    {% if template contains 'collection' %}
     	<title>{{ page_title }} – Cuadros Decorativos, {{ shop.name }}</title>
    {% elsif template contains 'product' %}
     	<title>{{ page_title }} – Cuadro Decorativo, {{ shop.name }}</title>
    {% else %}
     	<title>{{ page_title }} – {{ shop.name }}, Cuadros Decorativos</title>
    {% endif %}

    
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% render 'social-meta-tags' %}
    
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" defer>
    <link rel="stylesheet" href="{{ 'megamenu.css'  | asset_url }}" defer>
    <link rel="stylesheet" href="{{ 'extra.css'  | asset_url }}" defer>
    <link rel="preload" as="script" href="{{ 'theme.min.js' | asset_url }}" defer>
    <link rel="preconnect" href="https://cdn.shopify.com" defer>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" defer>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com" defer>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com" defer>
    <link rel="dns-prefetch" href="https://maps.googleapis.com" defer>
    <link rel="dns-prefetch" href="https://maps.gstatic.com" defer>
    <link rel="canonical" href="{{ canonical_url }}" defer>
    {% include "custom_css" %}
    
    <script src="{{ 'jquery-3-6-0.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery-migrate-1.4.1.min.js'  | asset_url }}"></script>
   	<script src="{{ 'megamenu.js'  | asset_url }}" defer="defer"></script>
    
    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    {% render 'css-variables' %}
    {{ content_for_header }}
    {% include 'settings_theme_instance' %}
    {% render 'microdata-schema', prom_v3:prom_v3,dacbs_v1:dacbs_v1,dalbs_v1:dalbs_v1,dcabs_v1:dcabs_v1,dfrbs_v1:dfrbs_v1,dpobs_v1:dpobs_v1,dpibs_v1:dpibs_v1,%}
    <script defer="defer">
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        showDiscount: {% if settings.show_discount %}true{% else %}false{% endif %},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type != 'cart' -%}
      <script defer="defer">
        (function () {
          window.onpageshow = function() {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {scrollToTop: false}
            }));
          };
        })();
      </script>
    {%- endif -%}
    
	<script src="{{ 'ajaxinate-2.js'  | asset_url }}" defer="defer"></script>
    {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
    {{ shop.metafields.okendo.StyleCustomizations }}
</head>

<body class="warehouse--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}" data-instant-intensity="viewport">
  {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
    {% unless the_snippet_content contains 'Liquid error' %}
    	{{ the_snippet_content }}
    {% endunless %}

    {%- if template contains 'product' -%}
    {%- style -%}
      div#widget-fave-html {
          margin-top: 0px !important;
      }
      @media screen and (max-width: 640px){
        div#widget-fave-html {
        	margin-top: 9px !important;
        }
      }
    {%- endstyle -%}
    {%- endif -%}
    
    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type == 'blog' or request.page_type == 'article' or request.page_type == 'page' -%}
      {% section 'static-newsletter' %}
    {%- endif -%}

    {% section 'text-with-icons' %}
    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>
    {%- if template contains 'product' -%}
    	{% include "new-single-product" %}
    {%- endif -%}

  {% if template contains "product" %}{% render "product-personalizer" %}{% endif %}{% include 'social-login' %}

    {% comment %}
	{% if template contains "collection" %}
      <script defer="defer">
        document.addEventListener("DOMContentLoaded", function() {
          var endlessScroll = new Ajaxinate({
            container: '#CanvasLab-Loop',
            pagination: '#CanvasLab-Pagination',
            method: 'scroll',
            loadingText: 'Cargando Más'
          });
        });
      </script>
    {% endif %}
    {% endcomment %}


{% include 'appikon-discounts' %}<!-- BEGIN XO GALLERY -->
  {% include "xo-gallery" %}
  <!-- END XO GALLERY -->

    <script type="text/javascript" defer="defer">
      document.addEventListener("DOMContentLoaded", function() {
        var endlessScroll = new Ajaxinate({
          container: '#CanvasLab-Loop',
          pagination: '#CanvasLab-Pagination'
        });
      });
    </script>    
    

<!--Klevu-->    
<script type="text/javascript" src="//js.klevu.com/klevu-js-v1/customizations/klevu-user-customization-157980665180711487.js" defer="defer"></script>   
<script defer="defer"> var klevu_filterLimit=1000;</script>

<!--Slick-->     
<link rel="stylesheet" type="text/css" href="{{ 'slick.min.css' | asset_url }}"/>   
<script type="text/javascript" src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>   

<!--Helpscout-->    
<script type="text/javascript" defer="defer">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
<script type="text/javascript" defer="defer">window.Beacon('init', 'eafe198b-322e-4c23-a469-867e1e5a5155')</script>    

<!-- Clarity-->    
<!--script type="text/javascript" defer="defer">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "8vf16u3m2v");
</script-->
  
    {%- comment -%} Fancy Product Designer setup - only remove after uninstall {%- endcomment -%}
    {%- render 'fpd-snippet-v2' with product as product, cart as cart -%}
    </body>
  {% include "special_banks" %}
</html>